{
  "clientId": "YOUR_SPOTIFY_CLIENT_ID",
  "clientSecret": "YOUR_SPOTIFY_CLIENT_SECRET",
  "spotifyUserName": "YOUR_SPOTIFY_USERNAME",
  "redirectUri": "http://localhost:8888/callback",
  "port": 8888,
  "autoSkipBlocked": true,
  "monitorInterval": 10000,
  "geniusApiKey": "YOUR_GENIUS_API_KEY",
  "openAiApiKey": "YOUR_OPENAI_API_KEY",
  "ageEvaluation": {
    "listenerAge": 13,
    "customInstructions": "Please be lenient on the age rating, keeping in mind that we generally want to allow content that would be heard on most mainstream radio stations. Be more strict if there is explicit sexual content or discussion of drugs. If the lyrics include the work 'fuck', it should be rated as 18+."
  },
  "spotifyWebCookies": "PASTE_YOUR_COOKIES_HERE (go to Spotify Web Player, open console with F12, type document.cookie and press Enter, then copy the result)"
}